########################################################################
# Local & Project Specific
########################################################################

# Add your project specific .gitignore rules here
temp/
export_snippets.py

########################################################################
# General
########################################################################

# === IDE and Editor files ===
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/

# === Environment files ===
.env

# === Mac system files ===
.DS_Store

# === Common Windows Files ===
Thumbs.db
Desktop.ini


########################################################################
# Python
########################################################################